body {
  font-family: "Roboto";
  background-color: #e5e5e5;
}
.logo {
  text-decoration: none;
  font-family: "Raleway";
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.black {
  color: #000;
}
.white {
  color: #fff;
}
.nav-link {
  text-decoration: none;
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-link:focus {
  text-decoration: none;
  color: #2196f3;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-link:hover {
  text-decoration: none;
  color: #2196f3;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contact-link {
  text-decoration: none;
  color: #757575;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contact-link:hover {
  text-decoration: none;
  color: #2196f3;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contact-link:focus {
  text-decoration: none;
  color: #2196f3;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
h1 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.order-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #fff;
  width: 200px;
  height: 50px;
}
.lorem-header {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.lorem-describe {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
}
